@model PagedList.IPagedList<ClassLibraryLoterica.Models.Lotofacil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm("Index", "LotofacilConcurso", FormMethod.Post))
{
    <p style="color:red">@ViewBag.Erro</p>

    <tr>
        <th colspan="2" align="center">Digite o jogo:</th>
    </tr>

    <td>
        <input type="number" name="ConcursoID" size="1" />
    </td>
    <td><input type="submit" value="Enviar" /></td>
}
<div>
    <a asp-action="Index">Listar todos</a>
</div>

<table class="table" id="tblConcursos">
    <thead>
        <tr>
            <th>
                Concurso
            </th>
            <th>
                Data
            </th>
            <th>
                Bola01
            </th>
            <th>
                Bola02
            </th>
            <th>
                Bola03
            </th>
            <th>
                Bola04
            </th>
            <th>
                Bola05
            </th>
            <th>
                Bola06
            </th>
            <th>
                Bola07
            </th>
            <th>
                Bola08
            </th>
            <th>
                Bola09
            </th>
            <th>
                Bola10
            </th>
            <th>
                Bola11
            </th>
            <th>
                Bola12
            </th>
            <th>
                Bola13
            </th>
            <th>
                Bola14
            </th>
            <th>
                Bola15
            </th>
            <th>
                Arrecadação
            </th>
            <th>
                Ganhadores
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConcursoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_01)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_02)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_03)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_04)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_05)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_06)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_07)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_08)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_09)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_10)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_11)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_12)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_13)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dezena_15)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Arrecadacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ganhadores)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ConcursoID })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>

        Página @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
        @Html.Raw(" ");
        @Html.ActionLink("< Anterior", "Index", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Anterior
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Próxima >", "Index", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "Index", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
    }
    else
    {
        @:Próxima >
        @Html.Raw(" ")
        @:>>
    }


</div>
@section Scripts{
    <!--<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblConcursos').DataTable();
        });
    </script>-->
}


