@model IEnumerable<ClassLibraryLoterica.Models.Lotofacil>

@{
    ViewData["Title"] = "Simular";
}

<h1>Simular</h1>

<h4>Lotofácil</h4>
<hr />

@using (Html.BeginForm("Simular", "LotofacilConcurso", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Digite o jogo:</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="Dezena_01" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_02" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_03" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_04" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_05" size="5" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Dezena_06" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_07" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_08" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_09" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_10" size="5" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Dezena_11" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_12" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_13" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_14" size="5" />
            </td>
            <td>
                <input type="text" name="Dezena_15" size="5" />
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Enviar" /></td>
        </tr>
    </table>
}

<div>
    <h4>Resultado</h4>
    <hr />

    <table class="table" id="tblConcursos">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ConcursoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_01)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_02)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_03)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_04)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_05)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_06)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_07)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_08)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_09)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrecadacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ganhadores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConcursoID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_01)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_02)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_03)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_04)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_05)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_06)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_07)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_08)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_09)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_10)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_11)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_12)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_13)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_14)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dezena_15)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrecadacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ganhadores)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <a asp-action="Index">Retornar</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
