@model IEnumerable<ClassLibraryLoterica.Models.Lotofacil>

@{
    ViewData["Title"] = "Simular";
}

<h1>Simular</h1>

<h4>Lotofácil</h4>
<hr />

@using (Html.BeginForm("Simular", "LotofacilConcurso", FormMethod.Post))
{
    <p style="color:red">@ViewBag.Erro</p>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Digite o jogo:</th>
        </tr>
        <tr>
            <td>
                <input type="number" name="Dezena_01" size="1" min="1" max="06" />
            </td>
            <td>
                <input type="number" name="Dezena_02" size="1" min="2" max="09" />
            </td>
            <td>
                <input type="number" name="Dezena_03" size="1" min="3" max="11" />
            </td>
            <td>
                <input type="number" name="Dezena_04" size="1" min="4" max="13" />
            </td>
            <td>
                <input type="number" name="Dezena_05" size="1" min="5" max="14" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="Dezena_06" size="1" min="6" max="16"/>
            </td>
            <td>
                <input type="number" name="Dezena_07" size="1" min="7" max="17"/>
            </td>
            <td>
                <input type="number" name="Dezena_08" size="1" min="8" max="18"/>
            </td>
            <td>
                <input type="number" name="Dezena_09" size="1" min="9" max="19"/>
            </td>
            <td>
                <input type="number" name="Dezena_10" size="1" min="10" max="20"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="Dezena_11" size="1" min="12" max="21"/>
            </td>
            <td>
                <input type="number" name="Dezena_12" size="1" min="13" max="22"/>
            </td>
            <td>
                <input type="number" name="Dezena_13" size="1" min="15" max="23"/>
            </td>
            <td>
                <input type="number" name="Dezena_14" size="1" min="14" max="24"/>
            </td>
            <td>
                <input type="number" name="Dezena_15" size="1" min="18" max="25"/>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Enviar" /></td>
        </tr>
    </table>
@if(Model != null)
{ 
    <h4>Dezenas digitadas:</h4>
    <table>
        <tr>
            <td>
                <p>@ViewBag.Dezena_01</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_02</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_03</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_04</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_05</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_06</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_07</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_08</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_09</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_10</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_11</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_12</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_13</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_14</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@ViewBag.Dezena_15</p>
            </td>
        </tr>
    </table>
}
}

<div>
    <h4>Resultado</h4>
    <hr />

    <table class="table" id="tblConcursos">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ConcursoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_01)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_02)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_03)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_04)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_05)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_06)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_07)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_08)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_09)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dezena_15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrecadacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ganhadores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalImpar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrimo)
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcursoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_01)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_02)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_03)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_04)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_05)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_06)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_07)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_08)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_09)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_11)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_12)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_13)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_14)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena_15)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrecadacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ganhadores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalImpar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrimo)
                </td>
            </tr>
                }
            }
        </tbody>
    </table>

    <a asp-action="Index">Retornar</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
